dd.address, dd.hours { white-space: pre-line; }

.access-service {
	margin: 0 1.5em;
}

.access-service h3 {
	background: #ddddee; /* Old browsers */
	background: -moz-linear-gradient(left, #ddddee 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ddddee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ddddee 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ddddee 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ddddee 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(left, #ddddee 0%,#ffffff 100%); /* W3C */
	padding: 0.5em;
}